@font-face {
    font-family: 'AvertaPE';
    src: url('../fonts/1-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}



body {
    font-family: 'AvertaPE', sans-serif !important;
}

.navbar-brand {
    font-size: 18px !important;
    font-family: 'AvertaPE', sans-serif !important;
}

.bg-light {
    background-color: unset !important;
}

.image {
    width: 160px;
    border-radius: 50%;
}

.card {
    border: unset !important;
}

.card-subtitle {
    font-family: 'AvertaPE' sans-serif !important;
    font-size: 20px !important;
}

.card-text {
    font-family: 'AvertaPE' sans-serif !important;
    font-size: 42px !important;
    /* width:  !important; */
}

.text-normal {
    font-family: 'AvertaPE' sans-serif !important;
    font-size: 18px !important;
    color: #5F5F5F !important;
}

.btn-primary {
    background-color: #0C0C0C !important;
    border-radius: 30px !important;
    border: 0px !important;
    width: 141px !important;
    padding: 10px !important;
}

.btn-primary.focus,
.btn-primary:focus {
    box-shadow: unset !important;
}

.btn-danger {
    background-color: transparent !important;
    color: #0C0C0C !important;
    border: unset !important;
}

.service-heading {
    font-size: 35px;
}

.service-title {
    font-size: 18px;
}

.service-paragraph {
    color: #5F5F5F;
}

.service-circle {
    background-color: #0C0C0C;
    width: 60px;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-align: center;
    padding: 0;
}

.detail-paragrapgh {
    color: #5F5F5F;
}

.portfolio-heading {
    font-family: 'AvertaPE', sans-serif;
    font-size: 42px;
    font-weight: 400;
    line-height: 51.91px;
    text-align: left;
    text-decoration-skip-ink: none;

}

.custom-splide__slide {
    display: flex;
    justify-content: center;
}

.custom-card {
    width: 300px;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    text-align: left;
}

.custom-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.custom-card-body {
    padding: 15px;
}

.custom-card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.custom-card-text {
    font-size: 1rem;
    color: #555;
}

.splide__pagination {
    bottom: unset !important;
    text-align: center;
    margin-top: 20px;
    margin: 15px !important;
    /* Adjust as necessary */
}

.splide__pagination .splide__pagination__page {
    background-color: #999;
    /* Customize the indicator style */
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    cursor: pointer;
}

.splide__pagination .splide__pagination__page.is-active {
    background-color: #333;
}

.splide__arrow--next {
    right: -4em !important;
}

.splide__arrow--prev {
    display: none !important;
}

.splide__arrow {
    background: #000000 !important;
    opacity: 1 !important;
    height: 3rem !important;
    width: 3rem !important;
}

.splide.is-focus-in .splide__arrow:focus {
    outline: 3px solid #000000a8 !important;
}

.arrow-icon {
    color: white !important;
}

/* .splide__arrow {
    display: none !important;
} */

.footer {
    background-color: #0C0C0C;
    width: 100%;
    height: fit-content;
}

.footer-heading {
    font-family: 'AvertaPE', sans-serif;
    font-size: 42px;
    font-weight: 400;
    line-height: 51.91px;
    text-align: left;
    text-decoration-style: solid;
    color: white;
    font-size: 42px;
    font-weight: 400;
    line-height: 51.91px;
    text-align: left;
    text-decoration-skip-ink: none;
}

.footer-email {
    font-family: 'AvertaPE', sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 30.9px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
}

.footer-address {
    font-family: 'AvertaPE', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.25px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-align: justify;
    width: 20px;
    display: inline;
    color: #5F5F5F;
}

.btn-success {
    width: 300px;
    background-color: #fff;
    color: #0C0C0C;
    border: 0px;
    font-family: 'AvertaPE', sans-serif;
    /* border-radius: 30px !important; */
}

.btn-success:hover {
    background-color: #0C0C0C !important;
    border: 1px #dbdbdbda solid;
}

.btn-success.focus,
.btn-success:focus {
    box-shadow: unset !important;
}

.icon {
    color: white;
    font-size: 30px;
}

.icon-link {
    color: white;
}

.icon-link:hover {
    color: white;
}

.btn-danger.focus,
.btn-danger:focus {
    box-shadow: unset !important;
}

.ul-education {
    margin-top: 81px;
}

@media (max-width: 728px) {
    .splide__arrow--next {
        display: none !important;
    }
}

@media (max-width: 420px) {
    .btn-danger {
        margin-top: 3px !important;
    }
}